.banner {
  width: 190px;
  height: 140px;
}

.title {
  margin-bottom: 0px !important;
  padding: 50px 0px !important;
}

.changeCustomBtn {
  width: 20px;
  height: 20px;
  border: 1px solid #7f7f7f;
  border-radius: 50%;
  background-color: transparent;
  margin: 2px 3px;
  transition: all 0.3s ease-in-out;
}

.one,
.two {
  width: 40px;
  height: 20px;
  position: relative;

  border-radius: 2px;
}
.one {
  background-color: crimson;
}
.two {
  background-color: #007bff;
}
.one::before {
  content: "MMK";
  font-size: 0.6rem;
  color: #fff;
  position: absolute;
  margin-top: -7px;
  margin-left: -12px;
}
.two::before {
  content: "BAHT";
  font-size: 0.6rem;
  color: #fff;
  position: absolute;
  margin-top: -7px;
  margin-left: -12px;
}
.copyText:hover {
  cursor: pointer;
}
.hidden {
  opacity: 0;
  user-select: none;
}
.unitTable {
  width: 100%;
}
.unitTable .tl {
  text-align: start;
}

.unitTable .tr {
  text-align: end;
}
